@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

.waiting-container {
    background-color: transparent;
    margin: 20px auto 30px auto; /* reduced margins */
    position: relative;
    margin-top: 10px;
    transform: scale(0.6);
}

@media screen and (min-height: 850px) {
    .waiting-container {
        margin-top: 150px;
        transform: scale(1);
    }
}

.artboard {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.deer {
    width: 100px;
    margin: 0 auto;
    position: relative;
}

.rocking {
    animation: rocking 0.4s ease-in-out infinite alternate-reverse;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    position: relative;
    z-index: 1;
}

.head {
    position: relative;
    width: 100px;
}

.horns {
    animation: rocking 0.4s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate-reverse;
    height: 110px;
    position: relative;
    top: 42px;
    width: 100px;
}

.horn {
    position: relative;
}

.horn:before {
    background-color: #91655d;
    border-radius: 14px 14px 0 0;
    content: "";
    display: block;
    height: 110px;
    position: absolute;
    width: 14px;
    z-index: 1;
}

.horn .line {
    background-color: #91655d;
    border-radius: 14px 0 0 14px;
    height: 14px;
    width: 40px;
    margin-bottom: 30px;
    position: relative;
    top: 20px;
}

.horn .line-one {
    width: 30px;
}

.horn .line-three {
    top: -44px;
    width: 34px;
}

.horn-left {
    top: -14px;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.horn-left:before {
    box-shadow: inset 4px 0 0 0 #9c7169;
}

.horn-left .line {
    box-shadow: inset 0 4px 0 0 #9c7169;
    right: 30px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.horn-left .line-one {
    right: 20px;
}

.horn-left .line-three {
    box-shadow: inset 0 -4px 0 0 #9c7169;
    right: -6px;
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
}

.horn-right {
    bottom: 110px;
    left: 80px;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.horn-right:before {
    box-shadow: inset -4px 0 0 0 #835f5a;
}

.horn-right .line {
    box-shadow: inset 0 4px 0 0 #835f5a;
    right: -4px;
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}

.horn-right .line-three {
    right: 26px;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.ears {
    position: absolute;
    top: 140px;
}

.ear {
    background-color: #91655d;
    border-radius: 100% 50% 50% 50%;
    height: 36px;
    position: relative;
    right: 40px;
    top: 20px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
    width: 60px;
}

.ear:before {
    background-color: #e7beb2;
    border-radius: 100% 50% 50% 50%;
    height: 18px;
    content: "";
    display: block;
    left: 10px;
    position: relative;
    top: 10px;
    width: 30px;
}

.ear-left {
    animation: ear-left 2s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite alternate-reverse;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.ear-right {
    animation: ear-right 2s cubic-bezier(0.6, -0.28, 0.74, 0.05) 2s infinite alternate-reverse;
    left: 20px;
    right: 0;
    top: -16px;
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
}

.eyes {
    position: absolute;
    top: 180px;
    right: -10px;
    width: 64px;
    z-index: 2;
}

.eyes .eye {
    background: linear-gradient(0deg, white 50%, #aa8275 50%);
    border-radius: 30px;
    height: 30px;
    width: 30px;
}

.eyes .eye:before {
    animation: eaves 3s infinite alternate-reverse;
    background-color: #aa8275;
    border-radius: 18px 18px 0 0;
    height: 18px;
    content: "";
    display: block;
    position: relative;
    width: 30px;
    top: -2px;
    z-index: 1;
}

.eyes .eye:after {
    animation: eyes 3s infinite alternate-reverse;
    background-color: #495169;
    border-radius: 10px;
    height: 10px;
    content: "";
    display: block;
    left: 10px;
    position: relative;
    top: -6px;
    -webkit-transform: translate(6px, 4px);
    transform: translate(6px, 4px);
    width: 10px;
}

.eyes .eye-left {
    float: left;
}

.eyes .eye-right {
    float: right;
}

.nose {
    background-color: #91655d;
    border-radius: 0 14px 30px;
    top: 94px;
    height: 36px;
    left: 80px;
    position: relative;
    width: 40px;
    z-index: 2;
}

.nose:before {
    background-color: #fb5d5d;
    border-radius: 30px;
    content: "";
    display: block;
    height: 28px;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 32px;
}

.nose:after {
    background-color: white;
    border-radius: 10px;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    right: 8px;
    top: 4px;
    width: 10px;
}

.body {
    background-color: #91655d;
    border-radius: 100px 100px 0;
    box-shadow: inset 14px 0 0 0 #9c7169;
    height: 380px;
    position: relative;
    width: 100px;
    z-index: 1;
}

.body:before {
    background-color: #e7beb2;
    border-radius: 40px 0 0 40px;
    bottom: 40px;
    box-shadow: inset -14px 0 0 0 #c39e9a;
    content: "";
    display: block;
    height: 130px;
    position: absolute;
    right: 0;
    width: 40px;
}

.hooves {
    position: relative;
    bottom: 80px;
    right: 68px;
}

.hoof-one {
    animation: jump 0.3s ease-in-out infinite alternate-reverse;
    left: 20px;
    position: relative;
    top: 140px;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.hoof-one .line {
    height: 60px;
    border: 40px solid;
    border-radius: 80px;
    border-color: transparent transparent #91655d transparent;
    left: 50px;
    width: 60px;
    position: relative;
    top: 10px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.hoof-one .anim-part {
    position: relative;
    bottom: 46px;
    left: 162px;
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.hoof-one .circle {
    animation: hoof-one 0.3s ease-in-out infinite alternate-reverse;
    background-color: #91655d;
    height: 40px;
    width: 40px;
    border-radius: 60px;
    -webkit-transform: translateX(3px) rotate(0deg);
    transform: translateX(3px) rotate(0deg);
}

.hoof-one .circle-last {
    border-radius: 40px 0 0 40px;
    -webkit-transform: translateX(4px) rotate(0deg);
    transform: translateX(4px) rotate(0deg);
}

.hoof-one .circle-last:before {
    content: "";
    display: block;
    border-top: 40px solid #674a4a;
    border-left: 14px solid transparent;
    height: 0;
    left: 20px;
    width: 14px;
    position: relative;
    z-index: 1;
}

.hoof-one .circle-last:after {
    background-color: #ffb63c;
    border-radius: 20px;
    bottom: 60px;
    content: "";
    display: block;
    height: 80px;
    left: 38px;
    position: relative;
    width: 18px;
}

.hoof-two {
    animation: jump-two 0.3s ease-in-out infinite alternate-reverse;
    left: 110px;
    position: relative;
    top: 20px;
    z-index: -1;
}

.hoof-two .line-one,
.hoof-two .line-two {
    height: 20px;
    border: 30px solid;
    border-radius: 80px;
    border-color: transparent transparent #91655d transparent;
    width: 20px;
    position: absolute;
}

.hoof-two .line-one {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hoof-two .line-two {
    left: 60px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.tail {
    background-color: #9c7169;
    bottom: 0;
    left: 8px;
    position: absolute;
    width: 40px;
    z-index: 0;
}

.tail .circle {
    -webkit-animation: tail 2s cubic-bezier(0, 0.02, 0.9, 2) infinite;
    animation: tail 2s cubic-bezier(0, 0.02, 0.9, 2) infinite;
    background-color: #9c7169;
    border-radius: 22px;
    height: 24px;
    position: relative;
    right: 4px;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    width: 24px;
}

.legs {
    position: relative;
}

.legs:before {
    background: linear-gradient(to left, #91655d 50%, #9c7169 50%);
    bottom: 0;
    content: "";
    display: block;
    height: 20px;
    left: 14px;
    position: absolute;
    width: 60px;
    z-index: 0;
}

.leg-left:before,
.leg-left:after,
.leg-right:before,
.leg-right:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
}

.leg-left .anim-part {
    animation: leg-left 0.4s ease-out infinite alternate-reverse;
    position: relative;
    top: 2px;
    -webkit-transform: rotate(5deg) translateX(6px);
    transform: rotate(5deg) translateX(6px);
    -webkit-transform-origin: right;
    transform-origin: right;
    z-index: 2;
}

.leg-left .anim-part:before,
.leg-left .anim-part:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
}

.leg-left .anim-part:before {
    height: 32px;
    width: 32px;
    border: 40px solid;
    border-radius: 60px;
    border-color: transparent #835f5b transparent transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -34px;
    left: 34px;
}

.leg-left .anim-part .line {
    background-color: #835f5b;
    height: 50px;
    position: absolute;
    width: 40px;
    left: 102px;
    top: 14px;
    z-index: 2;
    -webkit-transform: skew(-9deg);
    transform: skew(-9deg);
}

.leg-left .anim-part:after {
    background-color: #835f5b;
    height: 40px;
    left: 66px;
    top: -40px;
    width: 48px;
}

.leg-left:after {
    background-color: #674a4a;
    height: 26px;
    left: 96px;
    top: 64px;
    -webkit-transform: skew(-8deg);
    transform: skew(-8deg);
    width: 40px;
    z-index: 2;
}

.leg-right {
    position: relative;
    right: 20px;
}

.leg-right:before {
    height: 60px;
    width: 76px;
    border: 40px solid;
    border-radius: 80px;
    border-color: #91655d transparent transparent transparent;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    z-index: 3;
    top: -58px;
    left: 42px;
}

.leg-right .anim-part {
    position: absolute;
    left: 128px;
    bottom: 18px;
    -webkit-transform: rotate(43deg);
    transform: rotate(43deg);
    z-index: 2;
}

.leg-right .anim-part .circle {
    animation: leg-right 0.4s ease-out infinite alternate-reverse;
    width: 40px;
    height: 40px;
    background-color: #91655d;
    border-radius: 40px;
    -webkit-transform: translateX(4px) rotate(4deg);
    transform: translateX(4px) rotate(4deg);
}

.leg-right .anim-part .circle-last {
    border-radius: 40px 0 0 40px;
}

.leg-right .anim-part .circle-last:before {
    content: "";
    display: block;
    border-bottom: 40px solid #674a4a;
    border-right: 4px solid transparent;
    height: 0;
    left: 30px;
    width: 22px;
    position: relative;
    z-index: 1;
}

.presents {
    top: 6px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    width: 220px;
}

.presents:after {
    background-color: #e7eff7;
    bottom: 0;
    border-radius: 14px;
    content: "";
    display: block;
    height: 14px;
    left: -44px;
    position: absolute;
    width: 340px;
}

.present {
    border-radius: 8px;
    bottom: 6px;
    position: absolute;
    z-index: 1;
}

.present:before,
.present:after {
    content: "";
    display: block;
    position: relative;
}

.present:before {
    border-radius: 8px 8px 4px 4px;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.04);
    right: 2px;
}

.present-one {
    background-color: #fb5d5d;
    height: 90px;
    right: 64px;
    width: 90px;
    z-index: 2;
}

.present-one:before {
    background-color: #fc7676;
    height: 24px;
    width: 94px;
}

.present-two {
    background-color: #82dfe3;
    height: 60px;
    width: 60px;
}

.present-two:before {
    background-color: #97e4e8;
    height: 20px;
    width: 64px;
}

.present-two:after {
    background-color: #69b2cb;
    bottom: 20px;
    height: 100%;
    left: 14px;
    width: 10px;
}

.present-two-right {
    right: 10px;
}

.present-three {
    background-color: #ffb63c;
    height: 50px;
    left: 50px;
    margin: auto;
    width: 50px;
    z-index: 2;
}

.present-three:before {
    background-color: #ffc056;
    height: 16px;
    width: 54px;
}

.present-three:after {
    background-color: #fb5353;
    bottom: 16px;
    height: 100%;
    left: 26px;
    width: 10px;
}

@-webkit-keyframes tail {
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

@keyframes tail {
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

@-webkit-keyframes shadow {
    to {
        width: 370px;
    }
}

@keyframes shadow {
    to {
        width: 370px;
    }
}

@-webkit-keyframes eyes {
    50% {
        -webkit-transform: translate(6px, 4px);
        transform: translate(6px, 4px);
    }
    60% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes eyes {
    50% {
        -webkit-transform: translate(6px, 4px);
        transform: translate(6px, 4px);
    }
    60% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes eaves {
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    100% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}

@keyframes eaves {
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    100% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}

@-webkit-keyframes hoof-one {
    to {
        -webkit-transform: translateX(4px) rotate(5deg);
        transform: translateX(4px) rotate(5deg);
    }
}

@keyframes hoof-one {
    to {
        -webkit-transform: translateX(4px) rotate(5deg);
        transform: translateX(4px) rotate(5deg);
    }
}

@-webkit-keyframes jump {
    to {
        -webkit-transform: translateY(-4px) rotate(25deg);
        transform: translateY(-4px) rotate(25deg);
    }
}

@keyframes jump {
    to {
        -webkit-transform: translateY(-4px) rotate(25deg);
        transform: translateY(-4px) rotate(25deg);
    }
}

@-webkit-keyframes jump-two {
    to {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
}

@keyframes jump-two {
    to {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
}

@-webkit-keyframes rocking {
    to {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
}

@keyframes rocking {
    to {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
}

@-webkit-keyframes ear-left {
    85% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    100% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}

@keyframes ear-left {
    85% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    100% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}

@-webkit-keyframes ear-right {
    85% {
        -webkit-transform: rotate(160deg);
        transform: rotate(160deg);
    }
    100% {
        -webkit-transform: rotate(170deg);
        transform: rotate(170deg);
    }
}

@keyframes ear-right {
    85% {
        -webkit-transform: rotate(160deg);
        transform: rotate(160deg);
    }
    100% {
        -webkit-transform: rotate(170deg);
        transform: rotate(170deg);
    }
}

@-webkit-keyframes leg-right {
    to {
        -webkit-transform: translateX(8px) rotate(2deg);
        transform: translateX(8px) rotate(2deg);
    }
}

@keyframes leg-right {
    to {
        -webkit-transform: translateX(8px) rotate(2deg);
        transform: translateX(8px) rotate(2deg);
    }
}

@-webkit-keyframes leg-left {
    0% {
        -webkit-transform: rotate(0deg) translateX(0px);
        transform: rotate(0deg) translateX(0px);
    }
    50% {
        -webkit-transform: rotate(5deg) translateX(6px);
        transform: rotate(5deg) translateX(6px);
    }
}

@keyframes leg-left {
    0% {
        -webkit-transform: rotate(0deg) translateX(0px);
        transform: rotate(0deg) translateX(0px);
    }
    50% {
        -webkit-transform: rotate(5deg) translateX(6px);
        transform: rotate(5deg) translateX(6px);
    }
}